body {
    font-family: Verdana, sans-serif;
    max-width: 2000px;
    text-indent: 0%;

}

/* Print screen */
@media print {
    h2 {page-break-before: always;}
    footer {page-break-after: always;}
    p {
        orphans:inherit;
        widows:unset;
      }
}

/* Header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.836)), url("background.jpg");
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}

.header-text{
    max-width: 800px;
}

#topH {
    color: white;
    text-align: left;
    padding-right: 50%;
    padding-left: 80px;
    padding-top: 15%;
}

/* Page content */
.container {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
    font: 12px Verdana, sans-serif;
}
  

h2.pageH {
    text-align: center;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 7px;
	margin-top: 80px;
}

section {
    text-align: justify;
    text-justify: inter-word;
}


.incl_in_img{
    color: white;
    text-align: left;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 50%;
    padding-left: 80px;
    font-size: 12px;
}

/* Responsivity */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {


	/* Force table to not be like tables anymore */
	thead, tbody, th, td, tr { 
		display: block;
	
	}

	table {
		display: block;
		caption-side: top;
		font-size: 10px;
		margin-left: 5px;
	}
	
	thead tr { 
		position: absolute;
	}
	
	th,td { 
		
		text-align: center;
	}
	

}

table, th, td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-spacing: 0;
	text-align: center;
	background: white;
	font-size: 10px;
	margin: auto;
}

th {
	padding: 20px 20px 20px 20px;
	border: 1px solid black;
}

td {
	padding: 10px 10px;
}

caption {
	font-size: 12px;
	text-align: center;
}

/* Navigationbar */
nav {
    text-align: right;
    padding-top: 15px;
    padding-left: 15px
    
}
nav a{
    padding: 13px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
}

nav a:hover{
    font-size: 18px;
}

nav a:active{
    color:rgb(75, 69, 156);
}

/* Links within paragraphs */
p a:link {
    text-decoration: none;
    color: rgb(36, 35, 35);
}

p a:hover{
    color: white;
}

p a:visited{
    color: rgb(75, 69, 156);
}

/* Form */
.order {
	list-style-type: decimal;
}

input:focus {
	background-color: rgba(231, 231, 230, 0.918);
}


#titleO, .order{
	margin-left: 50px;
}

/* Footer */
.footer-types{
	background-color: #979797;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-types .footer-left,
.footer-types .footer-center,
.footer-types .footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer-types .footer-left{
	width: 50%;
	color: white;
}


/*  logo */

.footer-types .footer-left img{
	width: 10%;
	float: none;
}


.footer-types .footer-desc{
	color: white;
	font-size: 13px;
	font-weight: normal;
	margin: 50px;
}

.footer-types .footer-desc span{
	display: block;
	color:  black;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}


@media (max-width: 880px) {

	.footer-types .footer-left,
	.footer-types .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-types .footer-left img{
		width: 30%;
	}

	#titleO, .order{
		margin-left: 20px;
		margin-right: 20px;
	}

	.incl_in_img{
		color: white;
		text-align: left;
		text-align: justify;
		text-justify: inter-word;
		padding-right: 40px;
		padding-left: 40px;
		font-size: 12px;
	}

	#topH{
		padding-right: 40px;
		padding-left: 40px;
		text-align: center;
	}

	.menu {
		padding-right: 40px;
	}

}
