body {
    font-family: Verdana, sans-serif;
    max-width: 2000px;
    text-indent: 0%;

}

@media print {
    h2 {page-break-before: always;}
}

@media print {
footer {page-break-after: always;}
} 

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.836)), url("background.jpg");
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}

.header-text{
    max-width: 800px;
}

#topH {
    color: white;
    text-align: left;
    padding-right: 50%;
    padding-left: 80px;
    padding-top: 15%;
}

.container {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7.5%;
    font: 12px Verdana, sans-serif;
}
  

h2.pageH {
    text-align: center;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 7px;
}

section {
    text-align: justify;
    text-justify: inter-word;
}


.incl_in_img{
    color: white;
    text-align: left;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 50%;
    padding-left: 80px;
    font-size: 12px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    background-color: rgb(255, 255, 255);
}

td {
    border-style: solid;
    border-width: 1px;
    border-spacing: 20px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    
}

th {
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    border-spacing: 20px;
}

nav {
    text-align: right;
    padding-top: 15px;
    padding-left: 15px
    
}
nav a{
    padding: 13px;
    text-decoration: none;
    font-size: 13px;
    font-variant: small-caps;
    text-transform: uppercase;
    color: white;
}

nav a:hover{
    font-size: 18px;
}

nav a:active{
    color:rgb(61, 54, 122)
}

nav a:visited{
    color:rgb(255, 255, 255);
}
